header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(144, 0, 255);
    background: #222831;
    padding-top: 5px;
    padding-bottom: 5px;
}
header p{
    color: #eeeeee;
}
header img{
    width: 40px;
    height: 40px;
}
.fotoConNombre{
    display: flex;
    flex-direction: row;
}
.fotoConNombre p{
    font-size: 35px;
    margin: 0;
}
.fotoConNombre img{
    background-color: white;
    padding: 1px;
}
nav{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    column-gap: 30px;
}
nav a{
    color: #eeeeee;
    text-decoration: none;
    font-size: 25px;
}
.redesSociales{
    display: flex;
    column-gap: 10px;
    flex-direction: row;
}
body{
    background: #0092ca;
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 70px;
    text-align: center;
}
h2{
    font-size: 50px;
}
p, li, label, a{
    font-size: 40px;
    font-family: 'DM Sans',sans-serif;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    background-color: black;
    padding-bottom: 15px;
}
textarea{
    height: 300px;
}
footer p{
    color: grey;
    font-size: 25px;
}
footer img{
    width: 60px;
    height: 60px;
}
nav a:hover{
    color: #0092ca;
}
@media screen and (max-width: 1500px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 50px;
    }
    p, li, label{
        font-size: 30px;
    }
}
@media screen and (max-width: 1300px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
}
@media screen and (max-width: 1100px){
    p, li, label{
        font-size: 25px;
    }
}
@media screen and (max-width: 810px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 35px;
    }
    p, li, label{
        font-size: 25px;
    }
    .fotoConNombre, header .redesSociales{
        display: none;
    }
}
@media screen and (max-width: 410px) {
    h1{
        font-size: 30px;
    }
    nav{
        display: flex;
        gap: 30px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    h2{
        font-size: 20px;
    }
    p, li, label{
        font-size: 13px;
    }
}
@media screen and (max-width: 350px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }
    p, li, label{
        font-size: 10px;
    }
}